.App {
  text-align: center;
  padding: 0;
}

.appHeader {
  background-color: #282c34;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.appName {
  vertical-align: -webkit-baseline-middle;
}

.headerIcon {
  display: inline-flex;
}

.button-margin {
  margin: 0.6em;
}

.call-margin {
  margin: 0.2em;
}
